@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


    --tertiary-color: #100f15;
    --fourth-color: #c4f7c2;
    --complementary-color: #00b23e;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
  
    --graph-progress: #00b23e;
    --graph-remaining: #6166ef;
  
    /*// New colors */
  
    --primary: #34d155;
    --secondary: #013941;
    --secondary-light: #012427;
    --tertiary: #f7fbff;
    --quaternary: #e7ecf1;
  
    --red: #ff6e64;
  
    --separator: #67888d;
  
    --glow-green: #14f29d;
    --secondary-blue-1400:: #1261ff;
  
    /** Colors Primary **/
  
    /* Primary grey */
  
    --primary-grey-25: 210 40% 98%;
    --primary-grey-50: 216 29% 97%;
    --primary-grey-100: 204 16% 94%;
    --primary-grey-200: 203 14% 89%;
    --primary-grey-300: 204 12% 83%;
    --primary-grey-400: 202 12% 73%;
    --primary-grey-500: 203 11% 68%;
    --primary-grey-600: 201 11% 63%;
    --primary-grey-700: 205 10% 58%;
    --primary-grey-800: 204 10% 52%;
    --primary-grey-900: 203 11% 46%;
    --primary-grey-1000: 202 11% 46%;
    --primary-grey-1100: 201 13% 42%;
    --primary-grey-1300: 204 17% 33%;
    --primary-grey-1400: 204 20% 28%;
    --primary-grey-1500: 204 23% 24%;
    --primary-grey-1600: 203 25% 20%;
    --primary-grey-1700: 202 29% 17%;
    --primary-grey-1800: 206 32% 14%;
    --primary-grey-1900: 203 38% 11%;
    --primary-grey-2000: 206 38% 8%;
    --primary-grey-2100: 202 48% 5%;
    --primary-grey-2200: 202 48% 5%;
  
    /* Primary green */
  
    --primary-green-50: 137 54% 97%;
    --primary-green-100: 140 60% 94%;
    --primary-green-200: 139 61% 90%;
    --primary-green-300: 140 58% 86%;
    --primary-green-400: 140 59% 82%;
    --primary-green-500: 141 59% 78%;
    --primary-green-600: 140 59% 74%;
    --primary-green-700: 140 59% 70%;
    --primary-green-800: 140 60% 66%;
    --primary-green-900: 140 59% 62%;
    --primary-green-1000: 140 59% 58%;
    --primary-green-1100: 140 59% 54%;
    --primary-green-1200: 140 60% 50%;
    --primary-green-1300: 140 60% 46%;
    --primary-green-1400: 140 60% 42%;
    --primary-green-1500: 140 60% 38%;
    --primary-green-1600: 140 60% 34%;
    --primary-green-1700: 140 59% 30%;
    --primary-green-1800: 141 60% 22%;
    --primary-green-1900: 141 60% 22%;
    --primary-green-2000: 141 60% 18%;
    --primary-green-2100: 141 61% 14%;
    --primary-green-2200: 139 61% 10%;
    --primary-green-2300: 140 60% 6%;
  
    /*? Colors Secondary ?*/
  
    /* Secondary orange */
  
    --secondary-orange-50: 0 100% 98%;
    --secondary-orange-100: 0 100% 96%;
    --secondary-orange-200: 0 100% 93%;
    --secondary-orange-300: 0 100% 90%;
    --secondary-orange-400: 0 100% 87%;
    --secondary-orange-500: 0 100% 84%;
    --secondary-orange-600: 0 100% 82%;
    --secondary-orange-700: 0 100% 79%;
    --secondary-orange-800: 0 100% 76%;
    --secondary-orange-900: 0 100% 73%;
    --secondary-orange-1000: 0 100% 70%;
    --secondary-orange-1100: 0 100% 67%;
    --secondary-orange-1200: 0 100% 65%;
    --secondary-orange-1300: 0 81% 59%;
    --secondary-orange-1400: 0 65% 54%;
    --secondary-orange-1500: 0 55% 49%;
    --secondary-orange-1600: 0 55% 44%;
    --secondary-orange-1700: 0 55% 39%;
    --secondary-orange-1800: 0 56% 34%;
    --secondary-orange-1900: 0 54% 28%;
    --secondary-orange-2000: 0 55% 23%;
    --secondary-orange-2100: 0 54% 18%;
    --secondary-orange-2200: 0 55% 13%;
    --secondary-orange-2300: 0 55% 8%;
  
    /* Secondary blue */
  
    --secondary-blue-50: 207 100% 98%;
    --secondary-blue-100: 211 100% 95%;
    --secondary-blue-200: 210 100% 92%;
    --secondary-blue-300: 211 100% 88%;
    --secondary-blue-400: 210 100% 85%;
    --secondary-blue-500: 210 100% 82%;
    --secondary-blue-600: 210 100% 78%;
    --secondary-blue-700: 210 100% 75%;
    --secondary-blue-800: 210 100% 72%;
    --secondary-blue-900: 210 100% 68%;
    --secondary-blue-1000: 210 100% 65%;
    --secondary-blue-1100: 210 100% 62%;
    --secondary-blue-1200: 210 100% 58%;
    --secondary-blue-1300: 210 83% 54%;
    --secondary-blue-1500: 210 71% 45%;
    --secondary-blue-1600: 210 71% 40%;
    --secondary-blue-1700: 210 71% 35%;
    --secondary-blue-1800: 210 72% 30%;
    --secondary-blue-1900: 210 71% 26%;
    --secondary-blue-2000: 210 72% 21%;
    --secondary-blue-2100: 209 71% 16%;
    --secondary-blue-2200: 210 70% 12%;
    --secondary-blue-2300: 210 72% 7%;
  
    /* Secondary violet */
  
    --secondary-violet-50: 240 100% 98%;
    --secondary-violet-100: 243 90% 96%;
    --secondary-violet-200: 242 94% 94%;
    --secondary-violet-300: 243 91% 91%;
    --secondary-violet-400: 243 90% 88%;
    --secondary-violet-500: 243 92% 85%;
    --secondary-violet-600: 243 91% 83%;
    --secondary-violet-700: 243 91% 83%;
    --secondary-violet-800: 243 91% 77%;
    --secondary-violet-900: 243 92% 75%;
    --secondary-violet-1000: 243 92% 72%;
    --secondary-violet-1100: 243 92% 70%;
    --secondary-violet-1200: 243 92% 67%;
    --secondary-violet-1300: 243 72% 62%;
    --secondary-violet-1400: 243 58% 56%;
    --secondary-violet-1500: 243 47% 51%;
    --secondary-violet-1600: 243 46% 45%;
    --secondary-violet-1700: 243 45% 40%;
    --secondary-violet-1800: 244 46% 35%;
    --secondary-violet-1900: 243 45% 29%;
    --secondary-violet-2000: 243 46% 24%;
    --secondary-violet-2100: 243 45% 19%;
    --secondary-violet-2200: 242 45% 14%;
    --secondary-violet-2300: 243 46% 8%;
  
    /*! Colors Tertiary !*/
  
    /* Tertiary mint */
  
    --tertiary-mint-50: 158 85% 97%;
    --tertiary-mint-100: 157 87% 94%;
    --tertiary-mint-200: 157 88% 90%;
    --tertiary-mint-300: 158 89% 86%;
    --tertiary-mint-400: 158 89% 82%;
    --tertiary-mint-500: 157 89% 79%;
    --tertiary-mint-600: 157 89% 75%;
    --tertiary-mint-700: 157 89% 71%;
    --tertiary-mint-800: 157 89% 67%;
    --tertiary-mint-900: 157 89% 63%;
    --tertiary-mint-1000: 157 89% 59%;
    --tertiary-mint-1100: 157 89% 55%;
    --tertiary-mint-1200: 157 90% 51%;
    --tertiary-mint-1300: 157 85% 47%;
    --tertiary-mint-1400: 157 85% 43%;
    --tertiary-mint-1500: 157 85% 39%;
    --tertiary-mint-1600: 157 84% 35%;
    --tertiary-mint-1700: 157 85% 31%;
    --tertiary-mint-1800: 157 85% 27%;
    --tertiary-mint-1900: 157 84% 23%;
    --tertiary-mint-2000: 158 85% 18%;
    --tertiary-mint-2100: hwb(158 2% 73%);
    --tertiary-mint-2200: 157 85% 10%;
    --tertiary-mint-2300: 158 87% 6%;
  
    /*- Colors Semantic -*/
  
    /* Semantic lime */
  
    --semantic-lime-50: 120 64% 98%;
    --semantic-lime-100: 120 68% 95%;
    --semantic-lime-200: 118 67% 92%;
    --semantic-lime-300: 119 67% 88%;
    --semantic-lime-400: 119 66% 85%;
    --semantic-lime-500: 118 66% 81%;
    --semantic-lime-600: 118 66% 78%;
    --semantic-lime-700: 118 66% 75%;
    --semantic-lime-800: 118 66% 71%;
    --semantic-lime-900: 118 66% 68%;
    --semantic-lime-1000: 118 66% 65%;
    --semantic-lime-1100: 118 66% 61%;
    --semantic-lime-1200: 118 66% 58%;
    --semantic-lime-1300: 118 55% 53%;
    --semantic-lime-1400: 118 48% 48%;
    --semantic-lime-1500: 118 48% 44%;
    --semantic-lime-1600: 118 48% 44%;
    --semantic-lime-1700: 118 48% 35%;
    --semantic-lime-1800: 118 48% 30%;
    --semantic-lime-1900: 117 49% 25%;
    --semantic-lime-2000: 118 49% 21%;
    --semantic-lime-2100: 117 49% 16%;
    --semantic-lime-2200: 118 49% 12%;
    --semantic-lime-2300: 116 49% 7%;
  
    /* Semantic red */
  
    --semantic-red-50: 354 83% 98%;
    --semantic-red-100: 352 79% 94%;
    --semantic-red-200: 354 79% 91%;
    --semantic-red-300: 354 82% 87%;
    --semantic-red-400: 354 81% 83%;
    --semantic-red-500: 354 81% 80%;
    --semantic-red-600: 354 80% 76%;
    --semantic-red-700: 354 80% 72%;
    --semantic-red-800: 354 80% 68%;
    --semantic-red-900: 354 81% 65%;
    --semantic-red-1000: 354 81% 61%;
    --semantic-red-1100: 354 81% 57%;
    --semantic-red-1200: 354 81% 54%;
    --semantic-red-1300: 354 69% 49%;
    --semantic-red-1400: 354 70% 45%;
    --semantic-red-1500: 354 69% 41%;
    --semantic-red-1600: 354 69% 37%;
    --semantic-red-1700: 354 70% 32%;
    --semantic-red-1800: 355 69% 28%;
    --semantic-red-1900: 354 70% 24%;
    --semantic-red-2000: 354 70% 19%;
    --semantic-red-2100: 354 69% 15%;
    --semantic-red-2200: 354 70% 11%;
    --semantic-red-2300: 355 70% 6%;
  
    /* Semantic yellow */
  
    --semantic-yellow-50: 33 100% 98%;
    --semantic-yellow-100: 33 100% 96%;
    --semantic-yellow-200: 34 100% 95%;
    --semantic-yellow-300: 35 100% 90%;
    --semantic-yellow-400: 34 100% 87%;
    --semantic-yellow-500: 34 100% 84%;
    --semantic-yellow-600: 34 100% 81%;
    --semantic-yellow-700: 34 100% 78%;
    --semantic-yellow-800: 34 100% 75%;
    --semantic-yellow-900: 34 100% 72%;
    --semantic-yellow-1000: 34 100% 69%;
    --semantic-yellow-1100: 34 100% 66%;
    --semantic-yellow-1200: 34 100% 64%;
    --semantic-yellow-1300: 34 81% 58%;
    --semantic-yellow-1400: 34 66% 53%;
    --semantic-yellow-1500: 34 58% 48%;
    --semantic-yellow-1600: 34 57% 43%;
    --semantic-yellow-1700: 34 58% 38%;
    --semantic-yellow-1800: 34 57% 33%;
    --semantic-yellow-1900: 34 58% 28%;
    --semantic-yellow-2000: 34 57% 23%;
    --semantic-yellow-2100: 35 58% 18%;
    --semantic-yellow-2200: 34 57% 13%;
    --semantic-yellow-2300: 34 59% 8%;
  
}

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px #fff inset !important;
  -webkit-box-shadow: 0 0 0px 1000px "#fff" inset !important;
  -webkit-text-fill-color: #000 !important;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.129 0.042 264.695);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.129 0.042 264.695);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.984 0.003 247.858);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.279 0.041 260.031);
  --input: oklch(0.279 0.041 260.031);
  --ring: oklch(0.446 0.043 257.281);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(0.279 0.041 260.031);
  --sidebar-ring: oklch(0.446 0.043 257.281);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
